<!-- app/views/user_mailer/welcome_email.html.erb -->
<h1>Welcome to Face Of The Book, <%= @user.email %>!</h1>
<p>
  You have successfully signed up to Face Of The Book.
  To login to the site, just follow this link: <%= link_to 'Login', @url %>.
</p>
